.joke-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 10px 10px;
}

.suggested-joke-list{
  display: flex;
  align-items: center;
  padding: 10px;
}

.suggested-joke-list li{
  padding: 5px;
  word-wrap: break-word;
}

li{
  list-style: none;
}
