.login-container{
  margin: auto;
  width: 400px;
  height: 500px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .login{
   padding: 20px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-container .login div{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 65%;
  align-items: center;
  text-align: center;
}

.login-container .login div input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #c5c6c9;
    border-radius: 4px;
    box-shadow: none;
    font-size: 16px;
    font: inherit;
    color: #404145;
    outline: none;
}

.login-button{
    background-color: #99b8ee;
    color: #fff;
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 12px 24px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: .15s ease-in-out;
}

.login-button:hover{
  background-color: #5486da;
}

.login-container .login .eroor {
  background: #ed4337;
  color: white;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 1px;
}
